.places {
    max-width: 984px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr; */
    row-gap: 67px;
    margin-bottom: 84px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .places {
        max-width: 928px;
        row-gap: 72px;
        margin-bottom: 85px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .places {
        max-width: 720px;
        row-gap: 63px;
        margin-bottom: 66px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px)  {
    .places {
        max-width: 320px;
        row-gap: 50px;
        margin-bottom: 40px;
    }
}