.footer__links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 0 18px;
    padding: 0;
    margin: 0;
    
}

@media screen and (min-width: 320px) and (max-width: 625px)  {
    .footer__links {
        flex-direction: column;
        gap: 32px 0;
        margin-bottom: 48px;
    }
}