.cover {
    background-image: url(../../Images/cover__background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
}

