.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1,  max-content);
    grid-template-areas: 
    "place__title place__website"
    "place__image place__paragraph_position_top"
    "place__image place__paragraph_position_bottom";
    gap: 48px 40px;    
    
}